a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    cursor: hand;
}

body {
    overflow-x: auto;
    margin: 0;
    max-width: 100%;
}

.pageContainer {
  margin: 5%
}