a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    cursor: hand;
}

body {
    overflow-x: auto;
    margin: 0;
    max-width: 100%;
}

.pageContainer {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.courseblock {
  padding: 5px;
  background-color: rgb(234, 245, 255);
  border-radius: 10px;
  margin-bottom: 2%;
}

.courseblock:hover {
  background-color: #def;
}

.courseblock span {
  font-weight: 600;
  font-size: large;
}